<body>
  <mat-card>
    <b><span>Dashboard</span></b>
  </mat-card>
  <br />
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Total Category:</h2>
          <h1 class="title">{{ data?.category }}</h1>
          <p>
            <button class="button" [routerLink]="['/cafe/category']">
              View Categories
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <div class="container">
            <h2 class="title">Total Products:</h2>
            <h1 class="title">{{ data?.product }}</h1>
            <p>
              <button class="button" [routerLink]="['/cafe/product']">
                View Products
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="container">
            <h2 class="title">Total Bills:</h2>
            <h1 class="title">{{ data?.bill }}</h1>
            <p>
              <button class="button" [routerLink]="['/cafe/bill']">
                View Bills
              </button>
            </p>
          </div>
        </div>
      </div>
  </div>
</body>
<mat-card>
  <b>
    <button
      mat-flat-button
      color="primary"
      class="float-right"
      (click)="markNotifications()"
    >
    Mark Read All Notification
    </button>
  </b>
</mat-card>
  <div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="notificationMsg">
        <th mat-header-cell *matHeaderCellDef>Notifications</th>
        <td mat-cell *matCellDef="let element">{{ element.notificationMsg }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    

  </div>
